* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
}

.yellow-gradient {
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

section {
    padding-top: 50px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}